:root {
    --background-color: #E5E5E5;
    --background-color-dark:#2F303A;
    --color-acent: #2196F3;
    --color-txt-dark:#212121;
    --color-txt: #FFFFFF;
    --color-txt-cont:#757575;
    --background-color-team:#F5F4FA;
    --acolor: rgba(255, 255, 255, 0.6);
    --color-border:#ECECEC;
}

body {
    max-width: 1600px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--color-txt);
    color: var(--color-txt-dark);
}

button {
    cursor: pointer;
}

.hiden {
    opacity: 0;
    margin: -24px;
}

a {
    text-decoration-line: none;
    color: var(--color-txt-dark);
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
p,
ul,
li {
    margin:0;
    padding:0;}
    

    /* header */

    
.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-txt-dark);
}
    
.logo-web {
    color: var(--color-acent);
}

header{
    background-color: var(--color-txt);
    border-bottom: 1px solid var(--color-border)
}
    
.conteiner-header { 
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 200px;
    padding: 0 15px;
}

.menu-nav {
    display:flex;
    margin-left: 93px;
}

.menu-nav .item:not(:last-child) {
    margin-right: 50px;
}
.contacts .item + .item {margin-left: 50px;}

.contacts-conteiner{
    margin-left: 331px; 
}
.contacts{
    display: flex;
}

.contacts > li >a {
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-txt-cont);
}

.contacts :hover, .contacts :focus {
    color: var(--color-acent)
}

.menu-nav .item .link {
    padding-top:32px ;
    padding-bottom: 32px;
}

.menu-nav>li>a 
    {color: var(--color-txt-dark);
}

.menu-nav .current{
    color: var(--color-acent);
}

.menu-nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.menu-nav :hover,.menu-nav :focus {
    color:var(--color-acent)
}
 
 /* main */


.title { 
    background-color: var(--background-color-dark);
    height: 600px;
}

.main-title
    { 
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
    height: 120px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--color-txt);
    text-transform: uppercase;
    text-align: center;
}
.conteiner-main-button  {
   padding-top: 150px;
     display: flex;
    justify-content: center;
}

.main-button 
    {
width: 200px;
height: 50px;

font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
color: var(--color-txt);
background-color:var(--color-acent);
}



.conteiner-benefits {
    display: flex;
    width: 1200px;
    padding:0 15px;
    margin-left: 200px;
    margin-top: 110px;
}
.conteiner-benefits-item + .conteiner-benefits-item {
    margin-left: 26px;
}

.conteiner-benefits-item{
    display: inline-block;
    width: 270px;
    height: 101px;
}
.conteiner-benefits-item > p {padding-top: 10px;
    color: var(--color-txt-cont);
line-height: 1.7;
}

.conteiner-caption-item + .conteiner-caption-item{ 
    margin-left: 26px;
}

.conteiner-caption-item{
    display: inline-block;
}

.benefits>ul>li>h2 
    {font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.benefits>ul>li>p 
    {line-height: 1.7;
    color: var(--color-txt-cont);
}
.caption-box{
    width: 1200px;
    margin-left: 200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 78px;}

.caption {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.team-conteiner-item + .team-conteiner-item {
    margin-left: 30px;}

.team-conteiner {
    margin-left: 200px;
    padding-left: 15px;}

.team-conteiner-item{
    width: 270px;
    height: 386px;
    margin-top: 50px;
    margin-bottom: 94px;
    display: inline-block;
    
    text-align: center;
    background: var(--color-txt);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-conteiner-item > h3{ 
    padding-top: 30px;
    padding-bottom: 10px;
}

.team{
    margin-top: 94px;
    background-color:var(--background-color-team);
}

.team > h2 {
    padding-top: 94px;

    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team >ul>li>h3
    {font-weight: 500;
    font-size: 16px;
    line-height:1.18;

}

.team >ul>li>p {
    font-size: 16px;
    line-height: 1.18;
    color:var(--color-txt-cont);
}

/* footer */

footer {
    background-color: var(--background-color-dark);
}

.footer{
    height: 252px;
}
.contacts-footer-list {margin-top: 20px;
}
.footer-conteiner{
    margin-left: 215px;
    padding-top: 60px;
}

.contacts-footer {
    color:var(--acolor) ;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contacts-footer-item + .contacts-footer-item {
    margin-top: 9px;
}

.contacts-footer :hover,
.contacts-footer :focus {
    color: var(--color-acent)
}

.contacts-footer-map{
    color: var(--color-txt);
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.logo-footer {
    color: var(--color-txt);
}


/* portfolio */


.filter {
    width: 1170px;
    display: flex;
    justify-content: center;
    margin-left: 215px;
    margin-top: 94px;
}

.filter-but {
    height: 38px;
    padding: 0px 22px;

    border-radius: 4px;
    border: none; 
}

.filter-but-item + .filter-but-item {
    margin-left: 8px;
}

.portfolio {
    width: 1170px;
    height: 1272px;
    margin-left: 215px;
    margin-top: 34px;
    margin-bottom: 94px;
}

.portfolio-item { 
    display: inline-block;
    height: 404px;
}

.portfolio-item:nth-child(3n + 2) {
    margin-left: 26px;
    margin-right: 26px;
}

.portfolio-item-box{
    margin-top: 30px;
    margin-bottom: 30px;
}

.portfolio-item >h2{
    padding-left: 24px;
    padding-top: 20px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-item>p {
    padding-left: 24px;
    padding-top: 4px;

    font-size: 16px;
    line-height: 1.9;
    color: var(--color-txt-cont);
}

.filter>li>button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-txt-dark);
    background-color: var(--background-color-team);
}

.filter>li>button:hover,
.filter>li>button:focus {
    color: var(--color-txt);
    background-color: var(--color-acent);
}


